<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class = "navbar navbar-default">
   <div class = "container">
       <div class = "navbar-header">
           <p class = "navbar-brand">DAILY JOURNAL</p>
       </div>
   
   <ul class = "nav navbar-nav navbar-right">
       <li id = "home"><a href = "/">HOME</a></li>
       <li id = "about"><a href = "/about">ABOUTUS</a></li>
       <li id = "contact"><a href = "/contact">CONTACTUS</a></li>
       </ul>
       </div>
</nav>


